# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).

In [2]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np

In [3]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
df = pd.read_csv('baseball_games.csv', index_col=0)

Для начала имеет смысл посмотреть на наши данные:

In [5]:
df.head().T

,0,1,2,3,4
attendance,40030.0,21621.0,12622.0,18531.0,18572.0
away_team,New York Mets,Philadelphia Phillies,Minnesota Twins,Washington Nationals,Colorado Rockies
away_team_errors,1,0,0,0,1
away_team_hits,7,5,5,8,8
away_team_runs,3,2,2,3,4
date,2016-04-03,2016-04-06,2016-04-06,2016-04-06,2016-04-06
field_type,on grass,on grass,on grass,on grass,on grass
game_type,Night Game,Night Game,Night Game,Night Game,Day Game
home_team,Kansas City Royals,Cincinnati Reds,Baltimore Orioles,Atlanta Braves,Arizona Diamondbacks
home_team_errors,0,0,0,1,0
home_team_hits,9,8,9,8,8
home_team_runs,4,3,4,1,3
start_time,7:38 p.m. Local,7:11 p.m. Local,7:07 p.m. Local,7:10 p.m. Local,12:40 p.m. Local
venue,Kauffman Stadium,Great American Ball Park,Oriole Park at Camden Yards,Turner Field,Chase Field
day_of_week,Sunday,Wednesday,Wednesday,Wednesday,Wednesday
temperature,74.0,55.0,48.0,65.0,77.0
wind_speed,14.0,24.0,7.0,10.0,0.0
wind_direction,from Right to Left,from Right to Left,out to Leftfield,from Right to Left,in unknown direction
sky,Sunny,Overcast,Unknown,Cloudy,In Dome
total_runs,7,5,6,4,7
game_hours_dec,3.216667,2.383333,3.183333,2.883333,2.65
season,regular season,regular season,regular season,regular season,regular season
home_team_win,1,1,1,0,0
home_team_loss,0,0,0,1,1
home_team_outcome,Win,Win,Win,Loss,Loss

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2463 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2460 non-null   float64
 1   away_team          2463 non-null   object
 2   away_team_errors   2463 non-null   int64
 3   away_team_hits     2463 non-null   int64
 4   away_team_runs     2463 non-null   int64
 5   date               2463 non-null   object
 6   field_type         2463 non-null   object
 7   game_type          2463 non-null   object
 8   home_team          2463 non-null   object
 9   home_team_errors   2463 non-null   int64
 10  home_team_hits     2463 non-null   int64
 11  home_team_runs     2463 non-null   int64
 12  start_time         2463 non-null   object
 13  venue              2463 non-null   object
 14  day_of_week        2463 non-null   object
 15  temperature        2463 non-null   float64
 16  wind_speed         2463 non-null   float64
 17  wind_direction     2463 non-null   object
 18  sky                2463 non-null   object
 19  total_runs         2463 non-null   int64
 20  game_hours_dec     2463 non-null   float64
 21  season             2463 non-null   object
 22  home_team_win      2463 non-null   int64
 23  home_team_loss     2463 non-null   int64
 24  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 500.3+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
attendance,2460.0,30370.703659,9875.466703,8766.00,22432.000000,30604.500000,38396.250000,54449.000000
away_team_errors,2463.0,0.580593,0.793391,0.00,0.000000,0.000000,1.000000,5.000000
away_team_hits,2463.0,8.764515,3.511581,1.00,6.000000,8.000000,11.000000,22.000000
away_team_runs,2463.0,4.413723,3.104556,0.00,2.000000,4.000000,6.000000,21.000000
home_team_errors,2463.0,0.585871,0.805542,0.00,0.000000,0.000000,1.000000,5.000000
home_team_hits,2463.0,8.611855,3.436965,0.00,6.000000,8.000000,11.000000,22.000000
home_team_runs,2463.0,4.519691,3.111572,0.00,2.000000,4.000000,6.000000,17.000000
temperature,2463.0,73.818920,10.583106,31.00,67.000000,74.000000,81.000000,101.000000
wind_speed,2463.0,7.494925,5.055970,0.00,4.000000,7.000000,11.000000,25.000000
total_runs,2463.0,8.933415,4.480352,1.00,6.000000,8.000000,12.000000,29.000000
game_hours_dec,2463.0,3.085302,0.460491,1.25,2.783333,3.033333,3.308333,6.216667
home_team_win,2463.0,0.529436,0.499234,0.00,0.000000,1.000000,1.000000,1.000000
home_team_loss,2463.0,0.470158,0.499210,0.00,0.000000,0.000000,1.000000,1.000000

In [8]:
df.describe(include=[object]).T

                  count unique                    top  freq
away_team          2463     30           Chicago Cubs    90
date               2463    203             2016-05-07    16
field_type         2463      2               on grass  2296
game_type          2463      2             Night Game  1664
home_team          2463     30      Cleveland Indians    89
start_time         2463    207        7:10 p.m. Local   413
venue              2463     31      Progressive Field    89
day_of_week        2463      7               Saturday   396
wind_direction     2463      9   in unknown direction   437
sky                2463      8                 Cloudy   761
season             2463      2         regular season  2428
home_team_outcome  2463      2                    Win  1304

Для многих заданий нам понадобятся данные только за регулярный сезон, поэтому я решила собрать эти данные отдельно

In [10]:
data = df[df['season'] == 'regular season'].copy()

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

При предобработке датасета у нас было 3 строки с отсутствующими данными по количеству зрителей. Они были заменены на среднее значение, поэтому на решение текущей задачи не повлияют.

Выбираем из всех игр регулярного сезона те, у которых значение в столбце 'attendance' (количество зрителей) равняется максимальному значению по этому столбцу. 

В результате получаем строку таблицы с игрой с максимальным количеством зрителей.

In [13]:
data[data['attendance'] == data['attendance'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,0,...,77.0,6.0,out to Rightfield,Cloudy,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

Выбираем из всех игр регулярного сезона те, у которых значение в столбце 'temperature' равняется минимальному значению по этому столбцу. 

В результате получаем строку таблицы с игрой с минимальной температурой.

In [16]:
data[data['temperature'] == data['temperature'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

Выбираем из всех игр регулярного сезона те, у которых значение в столбце 'temperature' равняется максимальному значению по этому столбцу.

В результате получаем строку таблицы с игрой с максимальной температурой.

In [19]:
data[data['temperature'] == data['temperature'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,0,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

Выбираем из всех игр регулярного сезона те, у которых значение в столбце 'game_hours_dec' равняется максимальному значению по этому столбцу.

В результате получаем строку таблицы с игрой с максимальной продолжительностью матча.

In [22]:
data[data['game_hours_dec'] == data['game_hours_dec'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,2,...,68.0,0.0,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

Выбираем из всех игр регулярного сезона те, у которых значение в столбце 'game_hours_dec' равняется минимальному значению по этому столбцу.

В результате получаем строку таблицы с игрой с минимальной продолжительностью матча.

In [25]:
data[data['game_hours_dec'] == data['game_hours_dec'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,0,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей? *

В явном виде информация о ничьей между командами в датасете не представлена. Поэтому будем считать, что ничьей является ситуация, когда домашняя команда не выиграла (значение 'home_team_win' - 0), но и не проиграла (значение 'home_team_loss' - 0). 

Выбираем из всех игр регулярного сезона те, у которых значения в столбцах 'home_team_win' и 'home_team_loss' равняются 0.

С помощью shape[0] получаем размерность итогового датафрейма и выбираем количество строк.

In [28]:
data[(data['home_team_win'] == 0) & (data['home_team_loss'] == 0)].shape[0]

1

# 7. Какая игра была последней в сезоне?

Так как дата представлена строкой в ISO формате, мы можем найти максимальную дату корректно.

Выбираем из всех игр регулярного сезона те, у которых значение в столбце 'date' равняется максимальному значению по этому столбцу.

В результате получаем строки таблицы с играми с максимальной датой.

In [31]:
data[data['date'] == data['date'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
349,28730.0,Miami Marlins,0,14,7,2016-10-02,on grass,Day Game,Washington Nationals,0,...,73.0,2.0,from Left to Right,Overcast,17,3.600000,regular season,1,0,Win
385,37015.0,Tampa Bay Rays,0,13,6,2016-10-02,on grass,Day Game,Texas Rangers,2,...,82.0,7.0,from Left to Right,Sunny,10,4.000000,regular season,0,1,Loss
386,44615.0,Pittsburgh Pirates,2,9,4,2016-10-02,on grass,Day Game,St. Louis Cardinals,0,...,71.0,6.0,out to Leftfield,Unknown,14,3.200000,regular season,1,0,Win
387,41445.0,Los Angeles Dodgers,1,4,1,2016-10-02,on grass,Day Game,San Francisco Giants,0,...,62.0,10.0,out to Centerfield,Unknown,8,3.066667,regular season,1,0,Win
388,24856.0,Oakland Athletics,0,7,3,2016-10-02,on grass,Day Game,Seattle Mariners,0,...,58.0,1.0,out to Centerfield,Unknown,5,2.566667,regular season,0,1,Loss
389,36935.0,New York Mets,3,8,2,2016-10-02,on grass,Day Game,Philadelphia Phillies,0,...,66.0,2.0,from Right to Left,Cloudy,7,2.650000,regular season,1,0,Win
390,33277.0,Baltimore Orioles,0,7,5,2016-10-02,on grass,Day Game,New York Yankees,0,...,60.0,4.0,from Left to Right,Unknown,7,2.533333,regular season,0,1,Loss
391,29475.0,Cleveland Indians,0,4,3,2016-10-02,on grass,Day Game,Kansas City Royals,0,...,73.0,2.0,from Right to Left,Cloudy,5,2.433333,regular season,0,1,Loss
392,27762.0,Milwaukee Brewers,1,10,6,2016-10-02,on grass,Day Game,Colorado Rockies,0,...,77.0,3.0,out to Centerfield,Sunny,10,3.383333,regular season,0,1,Loss
393,32587.0,Chicago Cubs,0,9,7,2016-10-02,on grass,Day Game,Cincinnati Reds,0,...,71.0,7.0,out to Leftfield,Unknown,11,3.300000,regular season,0,1,Loss
394,21904.0,Minnesota Twins,0,9,6,2016-10-02,on grass,Day Game,Chicago White Sox,0,...,65.0,6.0,out to Leftfield,Unknown,9,3.016667,regular season,0,1,Loss
395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,1,...,56.0,6.0,out to Leftfield,Unknown,3,3.233333,regular season,0,1,Loss
396,51220.0,Detroit Tigers,1,5,0,2016-10-02,on grass,Day Game,Atlanta Braves,0,...,80.0,8.0,from Left to Right,Cloudy,1,2.783333,regular season,1,0,Win
397,31385.0,San Diego Padres,0,7,2,2016-10-02,on grass,Day Game,Arizona Diamondbacks,0,...,79.0,0.0,in unknown direction,In Dome,5,2.616667,regular season,1,0,Win
398,28083.0,Houston Astros,0,7,1,2016-10-02,on grass,Day Game,Los Angeles Angels of Anaheim,0,...,75.0,5.0,out to Centerfield,Cloudy,9,2.700000,regular season,1,0,Win

# 8. У какой игры было минимальное количество зрителей?

Так как нет указания конкретного сезона, мы будем искать минимальное количество зрителей по всему датасету. Так же при предпросмотре датасета у нас было 3 строки с отсутствующими данными по количеству зрителей, но на решение текущей задачи они не повлияют.
    
Выбираем из всех игр те, у которых значение в столбце 'attendance' равняется минимальному значению по этому столбцу.

В результате получаем строку таблицы с игрой с минимальным количеством зрителей.

In [34]:
df[df['attendance'] == df['attendance'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,0,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

Выбираем из всех игр регулярного сезона те, у которых значение в столбце 'wind_speed' равняется максимальному значению по этому столбцу.

В результате получаем строки таблицы с играми с максимальной скоростью ветра.

In [37]:
data[data['wind_speed'] == data['wind_speed'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,0,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,3,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков? *

Очки в бейсболе начисляются команде за каждый "ран". Поскольку нас интересует общее количество очков за игру, будем рассматривать столбец 'total_runs' нашего датасета.

Так как нет указания конкретного сезона, мы будем искать максимальное количество очков по всему датасету. 
    
Выбираем из всех игр те, у которых значение в столбце 'total_runs' равняется максимальному значению по этому столбцу.

В результате получаем строку таблицы с игрой с максимальным количеством очков.

In [40]:
df[df['total_runs'] == df['total_runs'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,1,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

Так как нет указания конкретного сезона, мы будем искать максимальное количество ошибок домашней команды по всему датасету.

Выбираем из всех игр те, у которых значение в столбце 'home_team_errors' равняется максимальному значению по этому столбцу.

В результате получаем строку таблицы с игрой с максимальным количеством ошибок домашней команды.

In [43]:
df[df['home_team_errors'] == df['home_team_errors'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,5,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество хитов?

Поскольку нас интересует общее количество хитов за игру, создадим дополнительный столбец 'total_hits' (сумма хитов домашней и гостевой команд) в нашем датасете.

Так как нет указания конкретного сезона, мы будем искать максимальное количество хитов по всему датасету. 
    
Выбираем из всех игр те, у которых значение в столбце 'total_hits' равняется максимальному значению по этому столбцу.

В результате получаем строку таблицы с игрой с максимальным количеством хитов.

In [46]:
df['total_hits'] = df['away_team_hits'] + df['home_team_hits']
df[df['total_hits'] == max(df['total_hits'])]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,2,...,11.0,out to Centerfield,Cloudy,17,3.666667,regular season,1,0,Win,37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

Любая команда в игре может являться как домашней, так и гостевой, поэтому мы объединяем два столбца 'away_team' и 'home_team'.

С помощью value_counts() получаем количество игр для каждой команды. Сортировка по названию команды выполнена только для красоты.

In [49]:
pd.concat([data['away_team'], data['home_team']]).value_counts().sort_index()

Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                162
Boston Red Sox                   162
Chicago Cubs                     162
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                161
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              162
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    162
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             162
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    162
Toronto Blue Jays                162
Washington Nationals             162
Name: count, dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

Чтобы определить команду (или команды), которая выиграла наибольшее количество матчей в сезоне, мы создаем датафрейм с названием команды и ее результатом игры.
Для этого соединяем название гостевой команды 'away_team' и результат матча для нее 'home_team_loss' с названием домашней команды 'home_team' и ее результата 'home_team_win'. Производим переименование колонок для удобства и получаем датафрейм с названием команды и результатом матча для нее. Затем группируем данные по названию команды и с помощью sum() подсчитываем количество побед. 

Из полученного датафрейма выводим все строки с максимальным значением количества выигрышей ('win') и выводим значение столбца 'team'

In [52]:
team_win_count = pd.concat([data[['away_team', 'home_team_loss']].rename(columns={'away_team':'team', 'home_team_loss':'win'}), data[['home_team', 'home_team_win']].rename(columns={'home_team':'team', 'home_team_win':'win'})]).groupby(['team']).sum('win').reset_index('team')
team_win_count[team_win_count['win'] == team_win_count['win'].max()]['team']

4    Chicago Cubs
Name: team, dtype: object

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

Чтобы определить команду (или команды), которая выиграла наибольшее количество домашних матчей в сезоне, мы создаем датафрейм с суммой выигранных матчей (sum('home_team_win')) для каждой команды groupby('home_team'). 

Из полученного датафрейма выводим все строки с максимальным значением количества выигрышей ('home_team_win') и выводим значение столбца 'team'

In [55]:
home_team_wins = data[['home_team','home_team_win']].groupby('home_team').sum('home_team_win')
home_team_wins[home_team_wins['home_team_win'] == home_team_wins['home_team_win'].max()].index[0]

'Chicago Cubs'

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

Чтобы определить команду (или команды), которая выиграла наибольшее количество домашних матчей в сезоне, мы с помощью группировки по 'away_team' и суммированию результатов матча по 'home_team_loss' получаем датафрейм с количеством выигранных матчей каждой команды. Отсортировав наш датасет по количеству побед, мы можем увидеть команду с наибольшим количеством выигранных гостевых матчей.

In [58]:
data[['away_team','home_team_loss']].groupby(['away_team']).sum('home_team_loss').sort_values(by='home_team_loss', ascending=False)

                               home_team_loss
away_team
St. Louis Cardinals                        48
Boston Red Sox                             46
Chicago Cubs                               46
Washington Nationals                       45
Toronto Blue Jays                          43
New York Mets                              43
Texas Rangers                              42
Seattle Mariners                           42
San Francisco Giants                       42
Cleveland Indians                          41
Houston Astros                             41
Detroit Tigers                             41
Pittsburgh Pirates                         40
Baltimore Orioles                          39
Miami Marlins                              39
Los Angeles Dodgers                        38
Atlanta Braves                             37
New York Yankees                           36
Arizona Diamondbacks                       36
Oakland Athletics                          35
Philadelphia Phillies                      34
Los Angeles Angels of Anaheim              34
Kansas City Royals                         34
Colorado Rockies                           33
Chicago White Sox                          33
Tampa Bay Rays                             32
Milwaukee Brewers                          32
Cincinnati Reds                            30
Minnesota Twins                            29
San Diego Padres                           29

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [60]:
team_loss_count = pd.concat([data[['away_team', 'home_team_win']].rename(columns={'away_team':'team', 'home_team_win':'loss'}), data[['home_team', 'home_team_loss']].rename(columns={'home_team':'team', 'home_team_loss':'loss'})]).groupby(['team']).sum('loss').reset_index('team')
team_loss_count[team_loss_count['loss'] == team_loss_count['loss'].max()]['team']

16    Minnesota Twins
Name: team, dtype: object

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

Допустим, что имеется в виду выигрыш домашней команды и исследуется его зависимость от количества зрителей. 
Построим ковариационную матрицу по этим столбцам

In [63]:
df[['home_team_win', 'attendance']].cov()

               home_team_win    attendance
home_team_win       0.249235  2.249719e+02
attendance        224.971873  9.752484e+07

Однозначных выводов по кавариации сделать невозможно, так как она зависит от дисперсий распределения количества зрителей и распределения выигрышей. 
Поэтому лучше рассматривать корреляцию.

In [65]:
df[['home_team_win', 'attendance']].corr()

               home_team_win  attendance
home_team_win       1.000000    0.045631
attendance          0.045631    1.000000

Из значения корреляции видно, что она очень слабая и близка к 0. Значит данные величины зависят друг от друга очень слабо

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

Сгруппируем данные нашего датасета по дням и найдем количество проигрышных матчей для каждого дня. Для удобства отсортируем количество проигрышей от большего к меньшему.

In [69]:
df[['day_of_week', 'home_team_loss']].groupby('day_of_week').sum('home_team_loss').sort_values(by='home_team_loss', ascending=False)

             home_team_loss
day_of_week
Sunday                  190
Tuesday                 187
Friday                  184
Saturday                175
Wednesday               167
Monday                  131
Thursday                124

Из полученных данных видно, что количество проигрышных домашних матчей самое большое в воскресенье, однако суббота является медианным значением. Соответственно, утверждение неверно

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

Поскольку не указано в градусах какой шкалы рассматривается 0 градусов, рассмотрим оба варианта.
Если 0 градусов в фаренгейтах, то при первичном просмотре нашего датафрейма мы видели, что минимальное значение по столбцу температуры - 31 градус. Соответственно, мы не можем делать никаких выводов по указанному утверждению.

Если 0 градусов в цельсиях, то создадим булеву колонку для определения температуры ниже и не ниже 32 градусов в фаренгейтах (0 в цельсиях).
Сравним среднее значение ранов для температуры ниже и не ниже 32 градусов в фаренгейтах, а так же посмотрим на количество строк.

In [73]:
data['temperature < 32F'] = data['temperature'] < 32
data[['temperature < 32F', 'total_runs']].groupby('temperature < 32F').agg(['mean', 'count'])

                  total_runs
                        mean count
temperature < 32F
False               8.954265  2427
True               12.000000     1

Таким образом видим, что ниже 0 в цельсиях была лишь одна игра и никаких выводов по таким данным мы делать не можем